<table class="tictactoe-board">
  <tbody>
      <tr *ngFor="let col of boardService.boardContent; let colIndex = index">
          <td *ngFor="let row of col; let rowIndex = index"
           [class]="row | playerName | playerClass" (click)="boardService.set(colIndex, rowIndex)">{{ row | playerName }}</td>
      </tr>
  </tbody>
</table>

<h2 [hidden]="boardService.winnerIndex === 0">The winner is {{boardService.winnerIndex | playerName}}</h2>
<button (click)="boardService.restart()">Restart</button>